.new_product {
    background-color: #fff;
    flex: 4;
}

.title_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

form {
    margin: 2em 2em;
}

/* .new_product h1 {
    display: flex;
    justify-content: center;
} */