.topbar {
    /* background-color: #03045e; */
    background-color: #023e8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbar div {
    color: #fff;
}

.logo_wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
}

.text_logo {
    font-size: 25px;
}