.sidebar {
    /* background-color: #f8f7ff; */
    background-color: #023e8a;;
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    /* top: 50px; */
    padding: 15px;
    margin-right: 15px;
    /* border: solid 10px green; */
}

.sidebar ul, .link {
    list-style: none;
    text-decoration: none;
}

.sidebarListItem {
    padding: 8px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
}

.sidebarListItem:hover {
    /* background-color: #e2eafc; */
    background-color: #0077b6;
    border-radius: 10px;
}

.sidebarListIcon {
    margin-right: 10px;
    font-size: 20px
}